/* PAGE STYLING */
body{
    height: 100vh;
    width: 100vw;
    /* background: rgb(89, 120, 146); */
    /* overflow: hidden; */
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
/* PAGE STYLING */
#showme {
    display: none;
}