/* ANIMATION */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slidein {
    0%   {transform: rotate(0deg);}
    20%   {transform: rotate(30deg);}
}

/* Standard syntax */
@keyframes flight {
    0%   {transform: rotate(0deg);}
    20%   {transform: rotate(30deg);}
}
/* ANIMATION */