{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>

        {% block title %}
        <title>Anon</title>
        {% endblock %}

        {% block icon %}
        <!-- ICON INTENTIONALLY OMITTED -->
        {% endblock %}

        {% block css_main %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">       
        {% endblock %}

        {% block stylesheet %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>

    <body>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'JS/main.js' %}"></script>

    </body>
</html>