<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            Your username is {{username}}        
        {% for room in rooms %}
            <a href="{% url 'room' slug=room.slug id=room.id %}">{{ room.name }}</a>
            {% endfor %}

            <form id="AddRoom" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="text" name="room" value="" size="50" style="padding-left: 20px;"/>
                    </form>
                    <p>{{ message }}</p>
    </body>
</html>