<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            Your username is {{username}} <br>      
        {{ name }}<br>
        {% if admin %}
        <p>Admin</p>
        {% endif %}
        {% for message in messages %}
            {{ message.message }}<br>
        {% endfor %}
        <form id="PostForm" method="post" action="{% url 'room' slug=room.slug id=room.id %}">
                {% csrf_token %}
                <input type="text" name="message" value="" size="50" style="padding-left: 20px;"/>
                </form>
    </body>
</html>